<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CrashEdit.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <CrashEdit.Properties.Settings>
            <setting name="Language" serializeAs="String">
                <value>en</value>
            </setting>
            <setting name="DefaultFormW" serializeAs="String">
                <value>800</value>
            </setting>
            <setting name="DefaultFormH" serializeAs="String">
                <value>600</value>
            </setting>
            <setting name="DisplayNormals" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DisplayFrameCollision" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseAnimLinks" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DeleteInvalidEntries" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DisplayAnimGrid" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AnimGridLen" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="PatchNSDSavesNSF" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ClearColorRGB" serializeAs="String">
                <value>-16382458</value>
            </setting>
            <setting name="UpgradeSettings" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FontSize" serializeAs="String">
                <value>18</value>
            </setting>
            <setting name="FontName" serializeAs="String">
                <value>arial.ttf</value>
            </setting>
            <setting name="Font3DEnable" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Font2DEnable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Font3DAutoscale" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ViewerShowHelp" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NodeShadeMax" serializeAs="String">
                <value>0.2</value>
            </setting>
        </CrashEdit.Properties.Settings>
    </userSettings>
</configuration>