<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="CrashEdit.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7"/></startup><userSettings>
        <CrashEdit.Properties.Settings>
            <setting name="Language" serializeAs="String">
                <value>en</value>
            </setting>
            <setting name="DefaultFormW" serializeAs="String">
                <value>747</value>
            </setting>
            <setting name="DefaultFormH" serializeAs="String">
                <value>560</value>
            </setting>
            <setting name="DisplayNormals" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DisplayFrameCollision" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseAnimLinks" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DeleteInvalidEntries" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DisplayAnimGrid" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AnimGridLen" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="PatchNSDSavesNSF" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ClearColorRGB" serializeAs="String">
                <value>-16382458</value>
            </setting>
            <setting name="UpgradeSettings" serializeAs="String">
                <value>True</value>
            </setting>
        </CrashEdit.Properties.Settings>
    </userSettings>
</configuration>
